# Outputs
control.temp
app.desktop.temp
gameinfo.conf
company.png
game.png
zoogame
ZooGame
wildaraz
*.kate-swp
*~
*_i386/
*_amd64/
mkxp-*
*.amd64
*.x86
*.deb
LICENSE-accepted
license.txt
*.exe
*.app
*.zip
dmg-contents/License.txt
*.nsi
*.dmg
*.log
resource_hacker/
game.sh.temp
tool/
*.AppImage
*.AppDir
flatpak/
*.flatpak
icons/
*.json
gamedir/
