#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Categories=Game;
Name=Application Launcher
Comment=aoeu
Exec=/opt/aoeu/game.sh
Icon=/opt/aoue/icon.png
Path=/opt/aoeu/
